:root {
    --surCordBackground: rgb(255, 0, 0);
    --surCordBackground2: rgb(255, 0, 0);
    --surCordTextBackground: rgb(255, 0, 0);
    --surcordFriendsBackground: rgb(255, 0, 0); 
    --surCordFriends: rgb(255, 0, 0);
    --surCordActiveNow: rgb(255, 0, 0, .276);
    --surCordGuilds: rgb(255, 0, 0);
    --surCordTitleBar: rgb(255, 0, 0);
    --surCordSearch: rgb(255, 0, 0);
    --surCordHover: rgb(143, 0 00, 0.200);
    --surCordBorder: rgba(177, 0, 0, 0.396);
}
